PORT=5000
DEBUG=true
APPNAME=NO-APPNAME
TOKEN=NO-TOKEN

DB_HOST=NO-HOST
DB_NAME=NO-NAME
DB_USER=NO-USER
DB_PORT=NO-PORT
DB_PASSWORD=NO-PASSWORD

API_URL=NO-API-URL

SERVER_TOKEN_PREFIX=NO-TOKEN-PREFIX
SERVER_TOKEN_VALUE=NO-TOKEN-VALUE
